*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.heading{
	text-align: center;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh; 
}
#create-account-form{
	width: 400px;
	padding: 20px;
	text-transform: uppercase;
	background-color: lightgray;
	overflow: hidden;
}

/*.radio{
	width: 10px;
	position: relative;
}
.radio label{
	width: 10px;
	height: 2px;
	cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 3px 3px 9px rgba(0,0,0,0.5);
    border: 1px solid black;
}*/
.error {
	color: red;
	font-size: 14px;
	margin-top: 6px;
  }
.hide {
	opacity: 0;
  }
	

.title{
	margin-bottom: 5px;   /*changed*/
}
.input-group{
	margin: 2px 0;  /*changed*/
	position: relative;
}
.input_group{
    vertical-align: top;
}
.input-group label{
	display: inline-block;
	margin-bottom: 2px;   /*changed*/
}
.input-group input{
	display: block;
	width: 100%;
	padding: 10px;
}
.success input{
	border: 3px green solid;
}
.input-group i{
	position: absolute;
	right: 10px;
	top: 35px;
	visibility: hidden;
}
.error input{
	border: 3px red solid;
}
.success i.fa-check-circle{
	visibility: visible;
	color: green;
}
.error i.fa-times-circle{
	visibility: visible;
	color: red;
}
.input-group p{
	font-size: 15px;
	color: red;
	visibility: hidden;
}
.error p{
	visibility: visible;
}
.btn{
	width: 100%;
	padding: 10px;
	font-size: 20px;
	background-color: lightcoral;
	color: white;
	text-transform: uppercase;
	border: none;
}
