*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.heading{
	text-align: center;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh; 
}
#create-account-form{
	width: 400px;
	padding: 20px;
	text-transform: uppercase;
	background-color: lightgray;
	overflow: hidden;
}
.error {
	color: red;
	font-size: 14px;
	margin-top: 6px;
}
.title{
	margin-bottom: 5px;   
}
.input-group{
	margin: 2px 0;  
	position: relative;
}
.input_group{
    vertical-align: top;
}
.input-group label{
	display: inline-block;
	margin-bottom: 2px;   
}
.input-group input{
	display: block;
	width: 100%;
	padding: 10px;
}
.success input{
	border: 3px green solid;
}
.input-group i{
	position: absolute;
	right: 10px;
	top: 35px;
	visibility: hidden;
}
.error input{
	border: 3px red solid;
}
.input-group p{
	font-size: 15px;
	color: red;
	visibility: hidden;
}
.error p{
	visibility: visible;
}
.btn{
	width: 100%;
	padding: 10px;
	font-size: 20px;
	background-color: lightcoral;
	color: white;
	text-transform: uppercase;
	border: none;
}
